main {
  & section {
    & div {
      & a {
        min-width: 100px;
        width: 20%;
        clear: right;
        margin: 1.5% 7% 1.5% 0;
        padding: 0.25%;
      }
    }
    & a {
      position: relative;
      float: right;
      text-decoration: none;
      border: solid 1px #000000;
      padding: 0.025%;
      font-size: 0.68em;
      text-align: center;
      color: #ffffff;
      background-color: #696969;
    }
    & a:hover {
      color: #696969;
      background-color: #ffffff;
    }
  }
}